* {
  font-family: Roboto; }

html {
  background-color: #193441; }

body {
  margin: 0; }

i {
  -webkit-animation: rotate-loading-icon infinite 2s;
  animation: rotate-loading-icon infinite 2s; }

#your-weather {
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s; }

#loading {
  text-align: center;
  color: white;
  margin-top: 100px; }

#current {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  color: white;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -ms-flex-line-pack: center;
  align-content: center; }
  #current #time {
    margin: 0; }
  #current #currentInfo {
    grid-column: 1 / 2; }
  #current p {
    font-size: 1.5rem; }
  #current h1 {
    font-size: 2.5rem; }
  #current h2 {
    font-size: 2rem; }
  #current canvas {
    -ms-flex-item-align: center;
    align-self: center; }

#weekly-forecast {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding: 50px; }
  #weekly-forecast #weekday {
    background-color: white;
    padding: 30px 30px 0px 30px;
    border-radius: 5%; }

#weekly-intro {
  color: white;
  text-align: center; }

@-webkit-keyframes rotate-loading-icon {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-loading-icon {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
