$center: center;
$loading-icon-animation: rotate-loading-icon;
$loading-animation-duration: infinite;

@mixin loading-icon($animation-speed) {
    -webkit-animation: $loading-icon-animation $loading-animation-duration $animation-speed;
            animation: $loading-icon-animation $loading-animation-duration $animation-speed;
}

@mixin icon-spinner-transform($rotate-degree) {
    -webkit-transform: rotate($rotate-degree); 
            transform: rotate($rotate-degree);
}

@mixin weather-fade-animation(){
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@mixin fade-animation-call($fade-length){
    -webkit-animation: fadeIn $fade-length;
            animation: fadeIn $fade-length;
}

@mixin icon-spinner-animation() {
    @-webkit-keyframes rotate-loading-icon {
        0% { 
            @include icon-spinner-transform(0deg);
        }
        100% { 
            @include icon-spinner-transform(360deg) 
        }
    }
    
    @keyframes rotate-loading-icon {
        0% {
            @include icon-spinner-transform(0deg);
        }
        100% {
            @include icon-spinner-transform(360deg);
        }
    }
}


//global styles
* {
    font-family: Roboto;
}

html {
    background-color: #193441;
 }
 
 body {
     margin: 0;
 }
 
 i {
     @include loading-icon(2s);
 }

#your-weather {
    @include fade-animation-call(1.5s);
}

//loading screen
#loading {
    text-align: center;
    color: white;
    margin-top: 100px;
}

//current weather
#current {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    color: white;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -ms-flex-line-pack: $center;
        align-content: $center;
    #time {
        margin: 0;
    }
    #currentInfo {
        grid-column: 1 / 2;
    }
    p {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    canvas {
        -ms-flex-item-align: $center;
            align-self: $center;
    }
}

//weekly forecast
#weekly-forecast {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: $center;
    padding: 50px;
    #weekday {
        background-color: white;
        padding: 30px 30px 0px 30px;
        border-radius: 5%;
    }
}

#weekly-intro {
    color: white;
    text-align: center;
}

//animations
@include icon-spinner-animation();
@include weather-fade-animation();
